*.pyc
/*.bat
/*.sql
/*.sh
/winscp.ini
/.idea/
/copy_owncloud.bat
/copy_owncloud.sh
/thumbnail_kvstore
/thumbnail_kvstore.lock
.DS_Store
/media/
/owncloud/
/save/
/search_index/
/static/
settings_dev_local.py
settings_local.py
settings_paths.py

*.sqlite3
