body {
}
@media (max-width: 979px) {
    body {
        padding-top: 0;
    }
}

.rotate:hover {
    -webkit-animation: mymove 1s infinite;
    animation: mymove 1s infinite;
}

@keyframes mymove {
    from   {    transform: rotateZ(0deg);}
    to { transform: rotateZ(360deg);}

}
