body {
}

@media (max-width: 502px) {
    body {
        padding-top: 0;
    }
    .not-enough-space {
        display: none;
    }
}

.rotate:hover {
    -webkit-animation: mymove 1s infinite;
    animation: mymove 1s infinite;
}

.link-row:hover{
    filter: brightness(0.8);
}

@keyframes mymove {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

table.character-list {
    filter: saturate(0.7);
}

tr.priest {
    color: #343a40;
}

tr.rogue {
    color: #343a40;
}

th {
    background: #212529;
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}