{% load static %}

<html lang="en">

<head>
    <title>Raid Roster Planning</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'double_u.ico' %}">

    <!-- Bootstrap style minimized -->
    <link href="{% static 'raid_roster_drf/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'raid_roster_drf/css/style.css' %}" rel="stylesheet">

</head>

<body>

    <!-- Top Navigation -->
    <header>

        {% include 'raid_roster_drf/navbar.html' %}

    </header>


    <!-- Main Container -->
    <main role="main">

        {% block content %}
        {% endblock %}

    </main>
    <!-- /.container -->


    <!-- Footer -->
    {% include 'raid_roster_drf/footer.html' %}


    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <!-- Complete Bootstrap JavaScript Bundle minimized-->
    <script src="{% static 'raid_roster_drf/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Misc -->
    <script src="{% static 'raid_roster_drf/js/roster_tooltip.js' %}"></script>
    <script src="{% static 'raid_roster_drf/js/play_sound.js' %}"></script>

</body>

</html>