{% extends 'raid_roster_drf/base.html' %}
{% load static %}

{% block content %}
    <div class="container pt-3">
        <h3>Mains</h3>
        <table class="table table-borderless table-dark character-list">
            {% include 'raid_roster_drf/include_character_table_head.html' %}
            <tbody>
            {% include 'raid_roster_drf/include_role_row.html' with role='Tank' roles=roles_main %}
            {% for character in object_list %}
                {% with "raid_roster_drf/images/icons/classes/"|add:character.game_class.name|add:".png" as class_icon %}
                    {% if 'Tank' in character.role_string and character.is_main %}
                        {% include 'raid_roster_drf/include_character_row.html' with character=character %}
                    {% endif %}
                {% endwith %}
            {% endfor %}

            {% include 'raid_roster_drf/include_role_row.html' with role='Healer' roles=roles_main %}
            {% for character in object_list %}
                {% with "raid_roster_drf/images/icons/classes/"|add:character.game_class.name|add:".png" as class_icon %}
                    {% if 'Healer' in character.role_string and character.is_main %}
                        {% include 'raid_roster_drf/include_character_row.html' with character=character %}
                    {% endif %}
                {% endwith %}
            {% endfor %}

            {% include 'raid_roster_drf/include_role_row.html' with role='Ranged' roles=roles_main %}
            {% for character in object_list %}
                {% with "raid_roster_drf/images/icons/classes/"|add:character.game_class.name|add:".png" as class_icon %}
                    {% if 'Ranged' in character.role_string and character.is_main %}
                        {% include 'raid_roster_drf/include_character_row.html' with character=character %}
                    {% endif %}
                {% endwith %}
            {% endfor %}

            {% include 'raid_roster_drf/include_role_row.html' with role='Melee' roles=roles_main %}
            {% for character in object_list %}
                {% with "raid_roster_drf/images/icons/classes/"|add:character.game_class.name|add:".png" as class_icon %}
                    {% if 'Melee' in character.role_string and character.is_main %}
                        {% include 'raid_roster_drf/include_character_row.html' with character=character %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container pt-3">
        <h3>Twinks</h3>
        <table class="table table-borderless table-dark character-list">
            {% include 'raid_roster_drf/include_character_table_head.html' %}

            <tbody>
            {% include 'raid_roster_drf/include_role_row.html' with role='Tank' roles=roles_twink %}
            {% for character in object_list %}
                {% with "raid_roster_drf/images/icons/classes/"|add:character.game_class.name|add:".png" as class_icon %}
                    {% if 'Tank' in character.role_string and not character.is_main %}
                        {% include 'raid_roster_drf/include_character_row.html' with character=character %}
                    {% endif %}
                {% endwith %}
            {% endfor %}

            {% include 'raid_roster_drf/include_role_row.html' with role='Healer' roles=roles_twink %}
            {% for character in object_list %}
                {% with "raid_roster_drf/images/icons/classes/"|add:character.game_class.name|add:".png" as class_icon %}
                    {% if 'Healer' in character.role_string and not character.is_main %}
                        {% include 'raid_roster_drf/include_role_row.html' with role='Healer' %}
                        {% include 'raid_roster_drf/include_character_row.html' with character=character %}
                    {% endif %}
                {% endwith %}
            {% endfor %}

            {% include 'raid_roster_drf/include_role_row.html' with role='Ranged' roles=roles_twink %}
            {% for character in object_list %}
                {% with "raid_roster_drf/images/icons/classes/"|add:character.game_class.name|add:".png" as class_icon %}
                    {% if 'Ranged' in character.role_string and not character.is_main %}
                        {% include 'raid_roster_drf/include_role_row.html' with role='Ranged' %}
                        {% include 'raid_roster_drf/include_character_row.html' with character=character %}
                    {% endif %}
                {% endwith %}
            {% endfor %}

            {% include 'raid_roster_drf/include_role_row.html' with role='Melee' roles=roles_twink %}
            {% for character in object_list %}
                {% with "raid_roster_drf/images/icons/classes/"|add:character.game_class.name|add:".png" as class_icon %}
                    {% if 'Melee' in character.role_string and not character.is_main %}
                        {% include 'raid_roster_drf/include_role_row.html' with role='Melee' %}
                        {% include 'raid_roster_drf/include_character_row.html' with character=character %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}