{% extends 'raid_roster_drf/base.html' %}
{% load static %}

{% block content %}
    <div class="container pt-3">
        <h3>Mains</h3>
{#        <table class="table table-dark character-list sticky-top">#}
{#            <thead>#}
{#            <tr class="table-hover">#}
{#                <th scope="col">Playername</th>#}
{#                <th scope="col">Charactername</th>#}
{#                <th scope="col">Class</th>#}
{#                <th scope="col">Role(s)</th>#}
{#                <th scope="col">Is Main?</th>#}
{#            </tr>#}
{#            </thead>#}
{#        </table>#}
        <table class="table table-dark character-list">
            {% include 'raid_roster_drf/include_character_table_head.html' %}
            <tbody>
            <tr class="role-specifier-row">
                <td colspan="3">Tank</td>
            </tr>
            {% for character in object_list %}
                {% with "raid_roster_drf/images/icons/classes/"|add:character.game_class.name|add:".png" as class_icon %}
                    {% if 'Tank' in character.role_string and character.is_main %}
                        {% include 'raid_roster_drf/include_character_row.html' with character=character %}
                    {% endif %}
                {% endwith %}
            {% endfor %}

            <tr class="role-specifier-row">
                <td colspan="3">Healer</td>
            </tr>
            {% for character in object_list %}
                {% with "raid_roster_drf/images/icons/classes/"|add:character.game_class.name|add:".png" as class_icon %}
                    {% if 'Healer' in character.role_string and character.is_main %}
                        {% include 'raid_roster_drf/include_character_row.html' with character=character %}
                    {% endif %}
                {% endwith %}
            {% endfor %}

            <tr class="role-specifier-row">
                <td colspan="3">Ranged</td>
            </tr>
            {% for character in object_list %}
                {% with "raid_roster_drf/images/icons/classes/"|add:character.game_class.name|add:".png" as class_icon %}
                    {% if 'Ranged' in character.role_string and character.is_main %}
                        {% include 'raid_roster_drf/include_character_row.html' with character=character %}
                    {% endif %}
                {% endwith %}
            {% endfor %}

            <tr class="role-specifier-row">
                <td colspan="3">Melee</td>
            </tr>
            {% for character in object_list %}
                {% with "raid_roster_drf/images/icons/classes/"|add:character.game_class.name|add:".png" as class_icon %}
                    {% if 'Melee' in character.role_string and character.is_main %}
                        {% include 'raid_roster_drf/include_character_row.html' with character=character %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container pt-3">
        <h3>Twinks</h3>
        <table class="table table-dark character-list">
            {% include 'raid_roster_drf/include_character_table_head.html' %}

            <tbody>
            <tr class="role-specifier-row">
                <td>Tank</td>
            </tr>
            {% for character in object_list %}
                {% with "raid_roster_drf/images/icons/classes/"|add:character.game_class.name|add:".png" as class_icon %}
                    {% if 'Tank' in character.role_string and not character.is_main %}
                        {% include 'raid_roster_drf/include_character_row.html' with character=character %}
                    {% endif %}
                {% endwith %}
            {% endfor %}

            <tr class="role-specifier-row">
                <td>Healer</td>
            </tr>
            {% for character in object_list %}
                {% with "raid_roster_drf/images/icons/classes/"|add:character.game_class.name|add:".png" as class_icon %}
                    {% if 'Healer' in character.role_string and not character.is_main %}
                        {% include 'raid_roster_drf/include_character_row.html' with character=character %}
                    {% endif %}
                {% endwith %}
            {% endfor %}

            <tr class="role-specifier-row">
                <td>Ranged</td>
            </tr>
            {% for character in object_list %}
                {% with "raid_roster_drf/images/icons/classes/"|add:character.game_class.name|add:".png" as class_icon %}
                    {% if 'Ranged' in character.role_string and not character.is_main %}
                        {% include 'raid_roster_drf/include_character_row.html' with character=character %}
                    {% endif %}
                {% endwith %}
            {% endfor %}

            <tr class="role-specifier-row">
                <td>Melee</td>
            </tr>
            {% for character in object_list %}
                {% with "raid_roster_drf/images/icons/classes/"|add:character.game_class.name|add:".png" as class_icon %}
                    {% if 'Melee' in character.role_string and not character.is_main %}
                        {% include 'raid_roster_drf/include_character_row.html' with character=character %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}