{% extends 'raid_roster_drf/base.html' %}

{% block content %}
    <div class="container pt-3">
        <table class="table table-dark character-list">
            <thead>
            <tr>
                <th scope="col">Playername</th>
                <th scope="col">Charactername</th>
                <th scope="col">Class</th>
                <th scope="col">Role(s)</th>
                <th scope="col">Is Main?</th>
            </tr>
            </thead>
            <tbody>
            {% for character in object_list %}
                <tr class="{{ character.game_class.name }}">
                    <td>{{ character.player.name }}</td>
                    <td>{{ character.name }}</td>
                    <td>{{ character.game_class }}</td>
                    <td>{{ character.role_string }}</td>
                    <td>{% if character.is_main == True %}&#10004;{% else %}&times;{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}