{% load static %}

<footer class="p-5 text-muted">
    <div class="container">
        <p>Built by <a href="https://github.com/djaszak">dennistroyer</a> and
            <a href="https://github.com/poppe94">poppe94</a> as a recreational project. </p>
        <p>The sourcecode can be found at
            <a href="https://github.com/djaszak/raid_roster_planner">github</a>.</p>
        <div class="text-center">
        <p class="">FOR THE HORDE!</p>
        <img id="footer_orc_head" src="{% static 'raid_roster_drf/images/ava_orc.png' %}" width="auto" height="64"
             class="rotate" alt="orc_head">
        </div>
    </div>
</footer>
