{% extends 'raid_roster_drf/base.html' %}
{% load static %}

{% block content %}
    <div class="jumbotron">
        <div class="container text-center">
            <h1>
                Raid Roster Planning für Profis
            </h1>

            <p>

                Herzlich Willkommen Mitstreiter! Um uns in Zukunft Arbeit zu sparen und unsere Raid Planung
                einfacher zu gestalten, haben wir diese kleine Webapp geschrieben. Mit der du deine Charaktere
                und deine gewünschten Rollen eintragen kannst, sowie wir alle Charaktere und Rollen übersichtlich
                betrachten können. Klicke einfach auf einen der Links unten!

            </p>
        </div>
    </div>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                        <div class="card-header">Trage dich ein!</div>
                        <div class="card-body">
                            <p class="card-text">Hier findest du das Formular, wo du dich eintragen solltest um
                                Hanni und Dafun die Raidplanung zu erleichtern.</p>
                            <a href="{% url "input_form" %}" class="btn btn-secondary">Klick</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                        <div class="card-header">Unser Kader!</div>
                        <div class="card-body">
                            <p class="card-text">Hier hast du eine Auflistung der aktuellen Mitstreiter und ihrer Rollen. Auch du
                                kannst hier auftauchen.</p>
                            <a href="{% url "roster" %}" class="btn btn-secondary">Klick</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}