{% extends 'raid_roster_drf/base.html' %}
{% load static %}

{% block content %}

    <h1>
        Raid Roster Planning fuer Profis
    </h1>

    <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.

    </p>
    <div class="card-deck">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Trage dich ein!</div>
            <div class="card-body">
                <p class="card-text">Hier findest du das Formular, wo du dich eintragen solltest um
                    Hanni und Dafun die Raidplanung zu erleichtern.</p>
                <a href="{% url "input_form" %}" class="btn btn-secondary">Klick</a>
            </div>
        </div>
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Unser Kader!</div>
            <div class="card-body">
                <p class="card-text">Hier hast du eine Auflistung der aktuellen Mitstreiter und ihrer Rollen. Hier
                    solltest auch du auftauchen.</p>
                <a href="{% url "roster_form" %}" class="btn btn-secondary">Klick</a>
            </div>
        </div>
    </div>

{% endblock %}