{% extends 'raid_roster_drf/base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
    <div class="container pt-3">
        <div class="row bg-light">
            <div class="col-md-4 order-md-2 mb-4">
                <img src="{% static 'raid_roster_drf/images/rastadab.png' %}" class="img-fluid" alt="rastadab" >
            </div>
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Your preferred class</h4>
                <form method="post" novalidate>
                {% csrf_token %}
                {{ form|as_crispy_errors }}
                {{ form.player_name|as_crispy_field }}
                {{ form.character_name|as_crispy_field }}
                <div class="row">
                    <div class="col">
                    {{ form.game_class|as_crispy_field }}
                    </div>
                    <div class="col">
                    {{ form.main_role|as_crispy_field }}
                    </div>
                    <div class="col">
                    {{ form.off_spec_roles|as_crispy_field }}
                    </div>
                </div>
                {{ form.is_main|as_crispy_field }}
                {{ form.captcha }}
                <input class="btn btn-secondary" type="submit" value="Save">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
