{% load static %}

<nav class="navbar sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="{% static 'raid_roster_drf/images/horde_symbol.png' %}" width="auto" height="30"
             class="d-inline-block align-top" alt="nav image">
        Roster Planning
    </a>
    <a class="navbar-brand" href="#">
        <img src="{% static 'raid_roster_drf/images/logo_square.png' %}" width="auto" height="30"
             class="d-inline-block align-top" alt="guild logo">
        Insidious
    </a>
</nav>
