{% load static %}

<nav class="navbar sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="{% static 'raid_roster_drf/images/inv_darkmoon_eye.png' %}" width="auto" height="30"
             class="d-inline-block align-top" alt="nav image">
        Roster Planning
    </a>
    <a class="navbar-brand" href="https://insidious-wow.de/">
        {# this image is a placeholder for now and should be replaced with the guild logo #}
        <img src="{% static 'raid_roster_drf/images/horde_symbol.png' %}" width="auto" height="30"
             class="" alt="">
        Insidious
    </a>
</nav>